*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html, body {
   font-family: Arial, sans-serif;
   color: #fff;
}

/* dashboard */
.dashboard {
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 30px;
   padding: 1.5rem;
   /* background: linear-gradient(135deg, #222, #444); */
   background: linear-gradient(to right, #d4a03a 8%, #8f7935 12%, #545454 20%, #2c2c2c 60% );
   /* background: 'linear-gradient(to right, #d4a03a, #2c2c2c)', */
   /* background: linear-gradient(to right, #d0af53 0%-20%, #3b3b3b 22%, #3b3b3b 66%, #030303 100%); */ 
   min-height: 100vh;
}
